/* users-list CSS*/

.users{
  width: 100%; 
  display: flex; flex-direction: row; justify-content: space-around; align-items: center; flex-wrap: wrap;
}
.users>h1{
  position: absolute; top: 0px; color: red;
}
.hidden{
  display: none;
}
.userinfo{
  width: 250px; height:300px ; border: 1px solid black; border-radius: 10px;
  display: flex; flex-direction: column; justify-content: space-around; align-items: center;
  margin-right: 50px; margin-top: 70px;
  
}
.userinfo span:first-child{
  color: turquoise; font-size: 80px;
}
.userinfo span:nth-child(2){
  font-weight: 800; font-size: 18px;
}
.userinfo button{
  border: 1px solid gray; border-radius: 3px; color: turquoise;
  cursor: pointer;
}

/* post-list CSS*/

.post{
  width: 100%;
  display: flex; flex-direction: column; justify-content: space-between; align-items: center;
}
.post>img{
  height: 200px; width: 100%;
border: 1px solid gray;
}
.post>span{
  color: turquoise; font-size: 180px; 
position: absolute; top: 130px;
}
.post>h1{
  color:red; margin-top: 150px;
}
.listposts{
  display: flex; flex-direction: row; justify-content: space-around; align-items: center;
  flex-wrap: wrap;
}
.postsuser{
  width:300px ; height: 300px; border: 1px solid black; border-radius: 10px;
  display: flex; flex-direction: column; justify-content: space-around; align-items: center;
  margin-right: 50px; margin-top: 50px; 
  overflow: auto;
}
.postsuser img{
width: 270px; height: 150px;
}

/* comment-list CSS*/

.listcomment{
  display: flex; flex-direction: column; justify-content: space-around; align-items: center;
}
.listcomment>h1{
  color: red; 
}
.comments{
  display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start;
}
.item{
  width: 100%; height: 100px; padding-left: 10px;
  display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start;
  background-color: gray;margin-bottom: 20px;
}